.card {
    display: flex;
    gap: 15px;
    padding: 15px;
    border: 1px solid rgb(221, 220, 220);
    border-radius: 10px;
    width: 400px;
}

.book-img {
    width: 100px;
    border: 1px solid rgb(148, 148, 148);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-weight: 600;
    font-size: 18px;
}

.author {
    margin-top: 5px;
    font-size: 14px;
    color: gray;
}

.price {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.add-to-cart {
    width: 150px;
    font-family: "Lato", sans-serif;
    border: none;
    background-color: #f96564;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: white;
}

.add-to-cart:hover {
    background-color: #ff8282;
}